<header class="intro-header" style=" background-image: url(/static/img/lion.jpg); background-position-y:23%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Luca Junghans</h1>
                    <hr class="small">
                    <span class="subheading">Full Stack Web Developer</span>
                </div>
            </div>
        </div>
      <div class="photoText">Photo: Apple</div>
    </div>
</header>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>My name is Luca, A software developer currently seeking opportunity in web development. I have a strong interest and background in customer experience, marketing, and advertising. </p>
                <p>I have a love of people that has been a launch pad into software development. Recently, I left the barbering and beauty industry after five years to pursue my passions in technology.
                 I hope to address engaging problems in user experience, information control, and customer technology interactions.</p>
                <p>I keep a blog focused on a wide range of my interests. From cooking, politics, gaming, and current events. This is a good place to get to know me, and witness my idealism first hand. </p>
            </div>
        </div>
    </div>
    <hr>
</div>