<header class="intro-header" style=" background-image: url(/static/img/uncleSam.jpg); background-position-y:23%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1 style="color:black">Luca Junghans</h1>
                    <hr class="small">
                    <span style="color:black" class="subheading">Admin (\(-.-)/) Why did you come <span style="color:greenyellow">here</span> dont hack me please.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div> <a href="/#!home"><button class="custom-btn">Back To the Website</button> </a></div>
<form>
<input type="password" ng-model="cred.cred">
<button type="submit" ng-click="loginLuca()" >!!</button>
</form>
<p ng-bind="nope"></p>