
<main class="container blog-post-list">

        <section class="row">
            <article class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="bracketAnimList"><li ng-repeat="blog in allPosts">
                             <a href="#!/blog/{{blog._id}}" ng-bind="blog.title" class="post-title"></a>
                             <p class="post-meta">Posted by Luca Junghans </p>
                        </li>
                    </article>
                    </ul>
            </section>
        </main>
        <hr>

</div>