<header class="intro-header" style=" background-image: url(/static/img/contact-bg.jpg); background-position-y:23%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Luca Junghans</h1>
                    <hr class="small">
                    <span class="subheading">Full Stack Web Developer</span>
                </div>
            </div>
        </div>
      <div class="photoText"></div>
    </div>
</header>
<div class="container contactText">
            <p>Want to get in touch with me?</p>
            <p>Email: luca.junghans@gmail.com : Seattle, Wa.</p>
</div>