<header class="intro-header" style=" background-image: url(/static/img/home-bg.jpg); background-position-y:23%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Luca Junghans</h1>
                    <hr class="small">
                    <span class="subheading">Full Stack Web Developer</span>
                </div>
            </div>
        </div>
      <div class="photoText">Taken at lake 22, WA</div>
    </div>
</header>
<div class="container homeText">
    This is my blog I built with Angular 1.6, bootstrap, Express/Node (Back End), and MongoDB for my blog! Enjoy the work!
</div>
<div class="recentPosts">
    
</div>