<header class="intro-header" style=" background-image: url({{blogInstance.picOne}})">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1 ng-bind="blogInstance.title"></h1>
                    <hr class="small">
                    <span class="subheading" ng-bind="blogInstance.subhead1"></span>
                </div>
            </div>
        </div>
      <div class="photoText">Taken at lake 22, WA</div>
    </div>
</header>
<article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h2 class="section-heading"></h2>
                    <p ng-bind="blogInstance.firstPar"></p>
                    <hr>
                    <p ng-bind="blogInstance.secondPar"></p>
                    <img class="img-responsive" src="{{blogInstance.picTwo}}"/>
                    <img class="img-responsive" src="{{blogInstance.picFour}}" />
                    <p ng-bind="blogInstance.thirdPar"></p>
                    <img class="img-responsive" src="{{blogInstance.picThree}}" />
                    <span class="caption text-muted"></span>
                </div>
            </div>
        </div>
</article>

    <hr>
